<h2>Aloha Pantoja!</h2>

<form action="/auth/signup" method="POST">
  <div class="form-grup">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username" required>
  </div>
  <div class="form-grup">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" required>
  </div>
  <button type="submit">Sign UP!</button>
</form>